*{
    box-sizing: border-box;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    background-image: url('../images/48491-O5UJ1J.jpg');

}

h1{
    font-family: 'Modak', cursive;
    font-size: 5.5rem;
}

.container{
    background-color: #9779d3;
    padding:20px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    width:70%;
}

#heading{
    background-color: #7adbd4;
    padding:20px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
}

#invite{
    padding:20px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
}


.queBody{
    padding:20px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
}

.question{
    color: azure;
}

.answers{
    color:#95e4de;
    margin-left: 10px;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
  }

#results{
    background-color: #f477c5;
    padding: 20px;
    border-radius: 15px;
}